#plant-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
}

.plant-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-image: linear-gradient(to right, #008000, #008200, #228B22, #8FBC8B);
  border-radius: 20% / 50%;
  padding: 10px;
  width: 10%;
  height: 40px;
  margin-right: 1%;
  margin-left: 1%;
}

.plant-container > img {
  border-radius: 50%; 

  height: 30px; 
  width: 30px; 
  object-fit: cover;
  margin-left: 10px;
}

.plant-container > span {
  color: white;
  font-weight: bold;
  font-size: 170%;
}